{% extends "base.html" %}
{% load static %}
{% load humanize %}

{%block content%}
<div class="" style=" margin: auto; padding-bottom: 50px; width: 98%;">
    <h3 style="padding-bottom: 20px; text-align:center">Onay Belgesi Kayıt</h3>
    <div class="" style="display: flex;">
        <div style="width: 20%;">
            <button id="openNewWindowButton">Yeni Kayıt Oluştur</button>
        </div>
        <!-- ***********************Filtreleme******************* -->
        <div style="width: 30%;">
            <form action="{% url 'muhapp:filter_onay_list' %}">
                <div>
                    <div class="onaysutun onaytar" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
                        <label for="onaytarih" class="form-label" style="width:20%; padding-right:10px;">Onay Tarihi</label>
                        <input type="date" class="form-control" id="onay_tarih_filter" name="onay_tarih_filter">
                    </div>
                    <div class="onaysutun onay_parabirimi" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
                        <label for="onay_parabirimi" class="form-label" style="width:20%; padding-right:10px;">Para Birimi</label>
                        <select class="form-select" id="onay_parabirimi_filter" name="onay_parabirimi_filter">
                            <option value="Som">Som</option>
                            <option value="Lira">Lira</option>
                            <option value="Dolar">Dolar</option>
                            <option value="Euro">Euro</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" style="width: 40%; margin:auto" id="toplamodemetutar">Goster</button>
            </form>
        </div>

        
        <div style="width: 10%;"></div>
        <div style="width: 40%; ">
            {% if toplam_tutar %}
            
                <div><h4>Toplam Tutar: {{ toplam_tutar|intcomma }}</h4></div>
            <!-- ---------- bu kisim ilrde duruma gore acilabilir. notlar kisminda var Yer:001            -->
            {% endif %}
            

            <!-- ****************************************** -->
        </div>
    </div>
    







    <script>
        $(document).ready(function() {
            $("#openNewWindowButton").click(function() {
                // Yeni pencere açma işlemi
                
                var screenWidth = window.screen.width;
                var screenHeight = window.screen.height;
                var windowWidth = Math.round(screenWidth * 0.9);
                var windowHeight = Math.round(screenHeight * 0.9);
    
                var left = Math.round((screenWidth - windowWidth) / 2);
                var top = Math.round((screenHeight - windowHeight) / 2);
    
                var newWindow = window.open('{% url 'muhapp:register_onay' %}', '_blank', 'height=' + windowHeight + ', width=' + windowWidth);
    
                if (newWindow) {
                    newWindow.moveTo(left, top);
                }
            }); 
            $("#closeNewWindowButton").click(function() {
                if (newWindow) {
                    newWindow.close();
                }
            });
        });
    </script>
<!---------------------------------------------------------------------------------------------- basliklar-->  
    <!--
        <div class="" style="width: 100%; margin:auto">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <div class="" style="display: flex;">
                    <div class="" style="width: 3%;"><h6>Sıra</h6></div>
                    <div class="" style="width: 6%;"><h6>Tarih</h6></div>
                    <div class="" style="width: 61%;"><h6>Açıklama</h6></div>
                    <div class="" style="width: 11%;"><h6>Ödenecek Tutar</h6></div>
                    <div class="" style="width: 4%;"><h6>Birim</h6></div>
                    <div class="" style="width: 6%;"><h6>Ödeme Yolu</h6></div>
                    <div class="" style="width: 9%;"><h6>SGB Belge No</h6></div>
                    <div class="" style="width: 3%;"><h6>Yazar</h6></div>
        
                </div>
            </div>
        </div>
    </div>
    -->
<!---------------------------------------------------------------------------------------------- Listeleme Tablosu--> 
<div class="" style="width: 100%; margin:auto">
<!-- ------------------------------------------------------------------------------------------- --> 
    <div class="card">
        <div class="" style="display: flex; text-align:center; align-items: center; background-color: #acdcf8; text-align: center; font-weight: bolder; height: 60px;"> <!--height:60px;  uygun gibi-->
            <div class="" style="width: 3%; padding: 6px;">Sıra</div>
            <div class="" style="width: 6%; padding: 6px; border-radius: 6px;">Tarih</div> 
            <div class="" style="width: 56%; padding: 6px;">Açıklama</div> 
            <div class="" style="width: 10%; padding: 6px; border-radius: 6px;">Ödenecek Tutar</div>
            <div class="" style="width: 4%; padding: 6px;">Birim</div>
            <div class="" style="width: 6%; padding: 6px; border-radius: 6px;">Ödeme Yolu</div>   
            <div class="" style="width: 9%; padding: 6px;">SGB Belge No</div> <!--belge no-->
            <div class="" style="width: 2%; display:flex; flex-direction: column;">Edit</div>
            <div class="" style="width: 4%;">Yazar</div>
        </div>
    </div>

<!-- ------------------------------------------------------------------------------------------- --> 
        {%for bilgi in defter_onay_list%}
            <div class="card">
                <div class="" style="display: flex; text-align:center; align-items: center; background-color: #f1f8fc;"> <!--height:60px;  uygun gibi-->
                    <div class="" style="width: 3%; background-color: #f1f8fc; padding: 6px;">{{forloop.counter|stringformat:"04d"}}</div>
                    <div class="" style="width: 6%; background-color: #e6f1f7; padding: 6px; border-radius: 6px;">{{bilgi.onay_tarih|date:"d.m.Y"}}</div> 
                    <div class="" style="width: 56%; background-color: #f1f8fc; padding: 6px;">{{bilgi.onay_aciklama}}</div> 
                    <div class="" style="width: 10%; background-color: #e6f1f7; padding: 6px; border-radius: 6px; text-align: right;">{{bilgi.onay_odemetutar}}</div>
                    <div class="" style="width: 4%; background-color: #f1f8fc; padding: 6px;">{{bilgi.onay_parabirimi}}</div>
                    <div class="" style="width: 6%; background-color: #e6f1f7; padding: 6px; border-radius: 6px;">{{bilgi.onay_odemeyolu}}</div>   
                    <div class="" style="width: 9%; background-color: #f1f8fc; padding: 6px;">{{bilgi.onay_no}}</div> <!--belge no-->
                    <div class="" style="width: 2%; display:flex; flex-direction: column; align-items: center;">
                        <div style="background-color: #fce5e5; border: 1px solid #000; border-radius: 5px;">
                            <a href="{% url 'muhapp:onay_list_delete' id=bilgi.id %}" 
                                class="btn btn-sm" 
                                style="margin: 4px; height: 16px; width:16px; display: flex; align-items: center; justify-content: center; ">
                                <img  src="{% static 'muhapp/images/trash.svg' %}" alt="Sil">
                            </a>
                        </div>

                        <div style="background-color: #f5c66e; border: 1px solid #000; border-radius: 5px;">
                            <a href="{% url 'muhapp:edit_onay_bilgi' id=bilgi.id %}" 
                                class="btn btn-sm" 
                                style="margin: 4px; height: 10px; width:10px; display: flex; align-items: center; justify-content: center;">
                                <img src="{% static 'muhapp/images/edit.svg' %}" alt="Edit">
                            </a>
                        </div>

                        

                    </div>
                    <div class="" style="width: 4%; font-size: 12px;">{{bilgi.username}}</div>
                    
                </div>
                    
                    
            </div>
            
        {%endfor%}
        
    </div>
</div>


{%endblock%}


