{% extends "base.html" %}
{% load static %}


{%block content%}
<div class="" style=" margin: auto; padding-bottom: 50px; width: 98%;">
    <h3 style="padding-bottom: 20px; text-align:center">Onay Belgesi Kayıt</h3>

    <button id="openNewWindowButton">Yeni Kayıt Oluştur</button>
    <script>
        $(document).ready(function() {
            $("#openNewWindowButton").click(function() {
                // Yeni pencere açma işlemi
                
                var screenWidth = window.screen.width;
                var screenHeight = window.screen.height;
                var windowWidth = Math.round(screenWidth * 0.9);
                var windowHeight = Math.round(screenHeight * 0.9);
    
                var left = Math.round((screenWidth - windowWidth) / 2);
                var top = Math.round((screenHeight - windowHeight) / 2);
    
                var newWindow = window.open('{% url 'muhapp:register_onay' %}', '_blank', 'height=' + windowHeight + ', width=' + windowWidth);
    
                if (newWindow) {
                    newWindow.moveTo(left, top);
                }
            });
            $("#closeNewWindowButton").click(function() {
                if (newWindow) {
                    newWindow.close();
                }
            });
        });
    </script>
    
    <div class="" style="width: 100%; margin:auto">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <div class="" style="display: flex;">
                    <div class="" style="width: 3%;"><h6>Sıra</h6></div>
                    <div class="" style="width: 6%;"><h6>Tarih</h6></div>
                    <div class="" style="width: 61%;"><h6>Açıklama</h6></div>
                    <div class="" style="width: 11%;"><h6>Ödenecek Tutar</h6></div>
                    <div class="" style="width: 4%;"><h6>Birim</h6></div>
                    <div class="" style="width: 6%;"><h6>Ödeme Yolu</h6></div>
                    <div class="" style="width: 9%;"><h6>SGB Belge No</h6></div>
                    <div class="" style="width: 3%;"><h6>Yazar</h6></div>
        
                </div>
            </div>
        </div>
    </div>
<!---------------------------------------------------------------------------------------------- Listeleme Tablosu--> 
    <div class="" style="width: 100%; margin:auto">
        {%for bilgi in defter_onay_list%}
            <div class="card">
                <div class="" style="display: flex; text-align:center; align-items: center; "> <!--height:60px;  uygun gibi-->
                    <div class="" style="width: 3%; border-right: 1px solid #000;background-color: yellow;">{{forloop.counter}}</div>
                    <div class="" style="width: 6%; border-right: 1px solid #000;">{{bilgi.onay_tarih}}</div> 
                    <div class="" style="width: 61%; border-right: 1px solid #000; background-color: blue;">{{bilgi.onay_aciklama}}</div> 
                    <div class="" style="width: 11%; border-right: 1px solid #000;">{{bilgi.onay_odemetutar}}</div>
                    <div class="" style="width: 4%; border-right: 1px solid #000;">{{bilgi.onay_parabirimi}}</div>
                    <div class="" style="width: 6%; border-right: 1px solid #000;">{{bilgi.onay_odemeyolu}}</div>
                    <div class="" style="width: 9%;">{{bilgi.onay_no}}</div> <!--belge no-->
                    <div style="display:flex; flex-direction: column;">
                        <div style="background-color: #fce5e5; border: 1px solid #000; border-radius: 5px;">
                            <a href="{% url 'muhapp:onay_list_delete' id=bilgi.id %}" 
                                class="btn btn-sm" 
                                style="margin: 4px; height: 16px; width:16px; display: flex; align-items: center; justify-content: center; ">
                                <img  src="{% static 'muhapp/images/trash.svg' %}" alt="Sil">
                            </a>
                        </div>

                        <div style="background-color: #f5c66e; border: 1px solid #000; border-radius: 5px;">
                            <a href="{% url 'muhapp:onay_list_delete' id=bilgi.id %}" 
                                class="btn btn-sm" 
                                style="margin: 4px; height: 10px; width:10px; display: flex; align-items: center; justify-content: center;">
                                <img src="{% static 'muhapp/images/edit.svg' %}" alt="Edit">
                            </a>
                        </div>

                        

                    </div>
                    <div class="" style="width: 6%; border-right: 1px solid #000;">{{bilgi.username}}</div>
                </div>
                    
                    
            </div>
        {%endfor%}

    
</div>
{%endblock%}


