{% extends "base.html" %}

{%block content%}
<div class="container">
    <h3 style="padding-bottom: 20px; text-align:center">Belge Kayit</h3>

    <div style="padding-bottom: 5px;">
        <a href="{% url 'muhapp:defter_onay_list' %}" style="width: 100%;">
            <button style="width: 100%;" type="button" class="btn btn-outline-primary">
                Onay Belgesi Kayit Defteri
            </button>
        </a>
    </div>

    <div style="padding-bottom: 5px;">
        <a href="{% url 'muhapp:defter_ziraat' %}" style="width: 100%;">
            <button style="width: 100%;" type="button" class="btn btn-outline-danger">
                Ziraat Bankasi Talimat Kayit Defteri
            </button>
        </a>
    </div>

    <div style="padding-bottom: 5px;">
        <a href="{% url 'muhapp:defter_dbank_duz' %}" style="width: 100%;">
            <button style="width: 100%;" type="button" class="btn btn-outline-warning">
                DemirBank Talimat Kayit Defteri - Duz
            </button>
        </a>
    </div>

    <div style="padding-bottom: 5px;">
        <a href="{% url 'muhapp:defter_dbank_yf' %}" style="width: 100%;">
            <button style="width: 100%;" type="button" class="btn btn-outline-dark">
                DemirBank Talimat Kayit Defteri - Yarim Format
            </button>
        </a>
    </div>
    

</div>

{%endblock%}