{% extends "base.html" %}

{%block content%}
<div class="container">
    <h3>Belge Kayit</h3>

    <div style="padding-bottom: 10px;">
        <div class="card" >
            <div class="card-header"><a href="">defter 1</a></div>
        </div>
    </div>

    <div style="padding-bottom: 10px;">
        <div class="card" >
            <div class="card-header"><a href="">defter 2</a></div>
        </div>
    </div>

    <div style="padding-bottom: 10px;">
        <div class="card" >
            <div class="card-header"><a href="">defter 3</a></div>
        </div>
    </div>

    <div style="padding-bottom: 10px;">
        <div class="card" >
            <div class="card-header"><a href="">defter 4</a></div>
        </div>
    </div>

</div>

{%endblock%}