{% extends "base.html" %}
{% load static %}

{%block content%}
<div class="container">
  <div style="text-align:center;"><h3>Onay Belgeleri</h3></div> 
  <!---- burdaki slaslar cok onemli------ /onaylar/ ------>
  <form action="/onay_upload/" method="POST" class="dropzone" id="my-awesome-dropzone">
    {% csrf_token %}
    <!--
      Bu HTML kodu, bir Dropzone alanı için yedek (fallback) içeriği temsil eder. Dropzone, 
      JavaScript tabanlı bir dosya yükleme kütüphanesidir ve kullanıcıya dosyalarını sürükleyip 
      bırakarak veya tıklayarak yüklemelerine olanak tanır. Ancak, tarayıcıda JavaScript devre 
      dışı bırakılmışsa veya desteklenmiyorsa, bu yedek içerik devreye girer.
    -->
    <div class="fallback">
      <input name="file" type="file" multiple>
    </div>

  <!---------------------------------------------------------------------------------------------------------onaylari listeleme-->
  <h6>Bu kisimda sutun basliklari olabili veya siralama yapmak icin bir buton</h6>
  
    {% for file in files %}
    <div class="card" style="margin: 5px;">
      <div class="card-header" style="display: flex; justify-content: space-between;">
        <div class="" style="width: 90%; "><span class="dosya-label">{{ file.file.name }}</span></div>
        
        <div class="" >
          <a href="{% url 'muhapp:onay_delete' file.id %}" class="delete-link">
            <img  src="{% static 'muhapp/images/trash.svg' %}" alt="Sil" style="width: 24px;  ">
          </a></div>

        
        <div class="">
          <a href="{% url 'muhapp:onay_download' file_id=file.id %}">
            <img  src="{% static 'muhapp/images/download.png' %}" alt="İndir" style="width: 24px;">
          </a></div>  
        
      </div>
    </div>
    {% endfor %}
  
</form>
</div>
{%endblock%}