{% extends "base.html" %}

{%block content%}
<div class="container">
    <h3 style="padding-bottom: 20px; text-align:center">DENEME</h3>
    
    
  <form action="{% url 'muhapp:register_onay_dataBase_kayit' %}" method="POST" id="onayFormsil">
      {% csrf_token%}
        
      <div class="" style="width: 100%; margin:auto;">
        <div class="card">
          <div class="card-header" style="text-align: center;">

            <div class="onaysutun onaytar" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onaytar" class="form-label" style="width:20%; padding-right:10px;">Onay Tarihi</label>
              <input type="date" class="form-control" id="onay_tarih" name="onay_tarih">
            </div>
          
            <!-- burda name" " kismi ile model ve viewde verdigimiz isimin ayni olmasi gerek-->
            <!--
              <div class="onaysutun onaytar" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onaytar" class="form-label" style="width:20%; padding-right:10px;">Onay Tarihi</label>
              <input type="text" class="form-control" id="onay_tarih" name="onay_tarih">
            </div>
            -->
            
    
            
            <div class="onaysutun onayaciklama" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onayaciklama" class="form-label" style="width:20%; padding-right:10px;">Açıklama</label>
              <input type="text" class="form-control" id="onay_aciklama" name="onay_aciklama" maxlength="110">
            </div>
            

            <!--
              <div class="onaysutun onay_odemetutar" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onay_odemetutar" class="form-label" style="width:20%; padding-right:10px;">Ödeme Tutarı</label>
              {% with formatted_odemetutar=onay_odemetutar|stringformat:".0f" %}
                  <input type="text" class="form-control" id="onay_odemetutar" name="onay_odemetutar" value="{{ formatted_odemetutar|floatformat }}">
              {% endwith %}
          </div>
            -->
      
            <div class="onaysutun onay_odemetutar" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onay_odemetutar" class="form-label" style="width:20%; padding-right:10px;">Ödeme Tutarı</label>
              <input type="number" class="form-control" id="onay_odemetutar" name="onay_odemetutar">
          </div>
          
    
            <div class="onaysutun onay_parabirimi" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onay_parabirimi" class="form-label" style="width:20%; padding-right:10px;">Para Birimi</label>
              <input type="text" class="form-control" id="onay_parabirimi" name="onay_parabirimi">
            </div>
    
            <div class="onaysutun onay_odemeyolu" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onay_odemeyolu" class="form-label" style="width:20%; padding-right:10px;">Ödeme Yolu</label>
              <input type="text" class="form-control" id="onay_odemeyolu" name="onay_odemeyolu">
            </div>
    
            <!--belge no olarak ele alindi ama database de degsitirilmedi-->
            <div class="onaysutun onayno" style="text-align:left; display: flex; align-items: center; padding-bottom:10px;">
              <label for="onayno" class="form-label" style="width:20%; padding-right:10px;"> SGB Belge No</label>
              <input type="text" class="form-control" id="onayno" name="onay_no">
            </div>
    
            <div style="width: 100%; display:flex"> 
              
                <button type="submit" class="btn btn-primary btn-sm" style="width: 40%; margin:auto" id="closeNewWindowButton">Kaydet</button>
              
            </div>
            
          </div>
        </div>  
      </div>
      
  </form>
  <script>
    document.getElementById("submitFormButton").addEventListener("click", function() {
        var onayTarihInput = document.getElementById("onay_tarih");
        var onayTarihValue = onayTarihInput.value;
    
        // Tarih formatını kontrol et
        if (!isValidDate(onayTarihValue)) {
            alert("Geçerli bir tarih formatı girin (YYYY-MM-DD).");
            // Formun gönderilmesini engelle
            event.preventDefault();
        }
    });
    
    // Tarih formatını kontrol etmek için bir yardımcı fonksiyon
    function isValidDate(dateString) {
        var regex = /^\d{4}-\d{2}-\d{2}$/;
        return regex.test(dateString);
    }
    </script>
    
  


</div>





{%endblock%}
